[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/clarity"]
	path = themes/clarity
	url = https://github.com/chipzoller/hugo-clarity.git
